html {
  box-sizing: border-box;
}
::before ::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: 'Roboto';
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: center;
  padding: 25px 0;
}
.STUDIO {
  font-family: 'Raleway';
  margin-left: 156px;
}
.menu {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  display: flex;
  gap: 40px;
}
.menu a:hover {
  color: tomato;
}
.web {
  font-family: 'Raleway';
  font-weight: 800;
  color: #4d5ae5;
}
.STUDIO {
  margin-right: 76px;
  font-weight: 800;
  font-size: 19px;
  line-height: 24px;
  color: #2e2f42;
}
.info {
  display: flex;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #434455;
  margin-left: 156px;
  gap: 40px;
}
.class {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(./img1/people-office\ 1.jpg);
  width: auto;
  height: 672px;
  margin-top: 0px;
  margin-bottom: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.class h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  margin-bottom: 48px;
  color: white;
}
.button:hover {
  color: tomato;
}
.button {
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  background: #4d5ae5;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 500;
  padding: 16px 32px;
}
.section {
  margin-left: 156px;
  margin-right: 156px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 120px;
  margin-bottom: 120px;
}
.section img {
  display: flex;
  justify-content: center;
  padding: 24px 102.14px;
}
h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}
.imges {
  display: flex;
  justify-content: center;
  gap: 24px;
}
h4 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1px;
  display: flex;
  justify-content: center;
  margin-top: 240px;
  margin-bottom: 72px;
}
.class1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-bottom: 240px;
}
.class1 .card {
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.class1 h5 {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
  margin-top: 32px;
}
.class1 p {
  display: block;
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.social {
  display: flex;
  gap: 2px;
  padding: 0 16px 32px 16px;
  gap: 24px;
  background-color: inherit;
}
.social div {
  border-radius: 100%;
  background-color: #4d5ae5;
}
.social .inst {
  padding: 12px 11.98px 12px 12.03px;
}
.social .twit {
  padding: 13.5px 12px;
}
.social .facebok {
  padding: 12px 15.87px;
}
.social .li {
  padding: 12px;
}
h6 {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  margin-top: 240px;
  text-align: center;
}
.section1 {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  gap: 24px;
  margin-top: 72px;
  margin-bottom: 120px;
}
.section1 div {
  line-height: 1px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
}
.section1 img {
  padding: 0;
}
.section1 .img1 {
  padding: 23px 63px 15.46px 64px;
}
.section1 .img2 {
  padding: 19px 63.76px 17.03px 65.77px;
}
.section1 .img3 {
  padding: 25px 62px 22.04px 62px;
}
.section1 .img4 {
  padding: 25px 41px 22px 43px;
}
.section1 .img5 {
  padding: 22.77px 51px 20.23px 54px;
}
.section1 .img6 {
  padding: 22.77px 36px 21.23px 38px;
}
footer {
  background-image: url(./img1/Dark-bg\ 23.png);
  height: 320px;
  padding: 100px 0;
  display: flex;
  flex-direction: row;
}
.class2 .web {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  color: #4d5ae5;
}
.class2 {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  color: #f4f4fd;
  display: block;
  margin-left: 156px;
  margin-bottom: 188px;
}
.class2 p {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.p {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin-left: 120px;
  color: #ffffff;
}
.card1 {
  display: flex;
  gap: 16px;
}
.card1 div {
  border-radius: 50%;
  background-color: #434455;
}
.ins2 {
  padding: 12px 11.98px 12px 12.03px;
}
.twit2 {
  padding: 13.5px 12px;
}
.facebok2 {
  padding: 12px 15.87px;
}
.li2 {
  padding: 12px;
}
